fullnameOverride: ""
nameOverride: ""

backend:
  image: ghcr.io/syntouchnl/dmn-studio-backend:latest
  imagePullSecrets:
    - name: ghcr-secret #TODO: Reference
  servicePort: 8080
  replicas: 1
  security:
    securityContext:
      runAsUser: 1000
      runAsGroup: 1000
      runAsNonRoot: true
      fsGroup: 1000
    container:
      securityContext:
        allowPrivilegeEscalation: false
        capabilities:
          drop:
            - ALL
  resources:
    requests:
      cpu: "250m"
      memory: "512Mi"
    limits:
      cpu: "750m"
      memory: "1Gi"
  volumeMounts:
    - name: backend-config
      mountPath: /
  volumes:
    - name: backend-config
      configMap:
        name: backend-configmap


frontend:
    image: ghcr.io/syntouchnl/dmn-studio-frontend:latest
    imagePullSecrets:
        - name: ghcr-secret #TODO: Reference
    servicePort: 80
    replicas: 1
    security:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        runAsNonRoot: true
        fsGroup: 1000
      container:
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - ALL
    resources:
      requests:
        cpu: "100m"
        memory: "128Mi"
      limits:
        cpu: "500m"
        memory: "256Mi"
    volumeMounts:
      - name: frontend-assets
        mountPath: /
    volumes:
      - name: frontend-assets
        configMap:
          name: frontend-assets-configmap

ingress:
  enabled: true
  className: ""
  annotations: { }
  host: dmnstudio.local
  tls: []

httpRoute:
  # HTTPRoute enabled.
  enabled: false
  # HTTPRoute annotations.
  annotations: { }
  # Which Gateways this Route is attached to.
  parentRefs:
    - name: gateway
      sectionName: http
      # namespace: default
  # Hostnames matching HTTP header.
  hostnames:
    - chart-example.local
  # List of rules and filters applied.
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /headers
  #   filters:
  #   - type: RequestHeaderModifier
  #     requestHeaderModifier:
  #       set:
  #       - name: My-Overwrite-Header
  #         value: this-is-the-only-value
  #       remove:
  #       - User-Agent
  # - matches:
  #   - path:
  #       type: PathPrefix
  #       value: /echo
  #     headers:
  #     - name: version
  #       value: v2