# TODO: 
#  - Move hostnames to global (dmn, keycloak)
#  - Deploy default test instance of operaton
#  - Test or remove autoscaling
#  - httpRoute
#  - Split resources per front/backend
#  - ServiceAccount?

global:
  image:
    repository: ghcr.io/syntouchnl

image:
  pullPolicy: IfNotPresent

imagePullSecrets: []
# This is to override the chart name.
nameOverride: ""
fullnameOverride: ""

backend:
  replicaCount: 1
  
  image:
    # Only override if you want to override global
    repository: 
    name: dmn-studio-backend
    # Overrides the image tag whose default is the chart appVersion.
    tag: "latest-native"
  config:
      secretfile: "dmnstudiosecrets"
      # Database Configuration
      QUARKUS_DATASOURCE_JDBC_URL: #jdbc:postgresql://postgres-dmn-studio:5432/dmn-studio
      QUARKUS_DATASOURCE_USERNAME: 
      
      # Keycloak OIDC Configuration
      QUARKUS_OIDC_AUTH_SERVER_URL: #http://keycloak:8181/realms/dmn_studio
      QUARKUS_OIDC_CLIENT_ID:  
      
      # Operaton REST API Configuration
      QUARKUS_REST_CLIENT_OPERATON_REST_API_JSON_URL: #http://operaton:8085/engine-rest
      QUARKUS_OPENAPI_GENERATOR_OPERATON_REST_API_JSON_AUTH_BASIC_AUTH_USERNAME: 
      
      # Keycloak Admin API Configuration
      QUARKUS_REST_CLIENT_KEYCLOAK_API_URL: #http://keycloak:8181
      
  service:
    type: ClusterIP
    port: 8080

  livenessProbe:
    httpGet:
      path: /q/health/live
      port: 8080
    periodSeconds: 10
  readinessProbe:
    httpGet:
      path: /q/health/ready
      port: 8080
    periodSeconds: 10

# TODO Currently unsupported / untested!  
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80
  
  volumes: []
    # - name: foo
    #   secret:
    #     secretName: mysecret
    #     optional: false
  
  volumeMounts: []
    # - name: foo
    #   mountPath: "/etc/foo"
    #   readOnly: true
    
frontend: 
  replicaCount: 1
  
  image:
    # Only override if you want to override global
    repository:
    name: dmn-studio-frontend
    # Overrides the image tag whose default is the chart appVersion.
    tag: "latest"

  config:
      DMNSTUDIO_URL: https://dmnstudio.dmn.studio/
      DMNSTUDIO_KEYCLOAK_URL: https://keycloak.dmn.studio/
      DMNSTUDIO_KEYCLOAK_REALM: dmn_studio
      DMNSTUDIO_KEYCLOAK_CLIENT_ID: angular-frontend
      DMNSTUDIO_QUARKUS_URL: https://dmnstudio.dmn.studio/api
      
  service:
    type: ClusterIP
    port: 8080
    
  livenessProbe:
    httpGet:
      path: /
      port: 8080
    #initialDelaySeconds: 5
    periodSeconds: 10
  readinessProbe:
    httpGet:
      path: /
      port: 8080
    #initialDelaySeconds: 5
    periodSeconds: 10
  
# TODO Currently unsupported / untested!
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80
  
  # Additional volumes on the output Deployment definition.
  #extraVolumes: 
  #  - name: nginxconf
  #    configMap:
  #      # Provide the name of the ConfigMap containing the files you want
  #      # to add to the container
  #      name: nginxconf
  
  # Additional volumeMounts on the output Deployment definition.
  #extraVolumeMounts:
  #  - name: nginxconf
  #    mountPath: "/etc/nginx/nginx.conf"
  #    subPath: nginx.conf
  #    readOnly: true

### Config for FE & BE together
#syncAKV:
#  dmnstudiosecrets:
#    vaultname: myvault
#    objectname: mysecret
#    objecttype: multi-key-value-secret
#    contenttype: application/x-yaml
#    output:
#      secret:
#        name: "dmnstudio"


ingress:
  enabled: true
  className: "nginx"
  annotations:
    nginx.ingress.kubernetes.io/use-regex: "true"
    nginx.ingress.kubernetes.io/rewrite-target: /$1
  hosts:
    - host: dmnstudio.dmn.studio
      paths: 
        - path: /(.*)
          servicesuffix: frontend
          pathType: ImplementationSpecific
          port: 8080
        - path: /api(?:/|$)(.*)
          servicesuffix: backend
          pathType: ImplementationSpecific
          port: 8080
  tls: []
    # - secretName: chart-example-tls
    #   hosts:
    #     - chart-example.local
resources: {}
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

serviceAccount:
  # Specifies whether a service account should be created.
  create: true
  # Automatically mount a ServiceAccount's API credentials?
  automount: true
  # Annotations to add to the service account.
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template.
  name: ""

podAnnotations: {}
podLabels: {}
podSecurityContext: {}
securityContext: {}

# !!DMNStudio TODO; Also enable httpRoute for FE & BE
httpRoute:
  # HTTPRoute enabled.
  enabled: false
  # HTTPRoute annotations.
  annotations: {}
  # Which Gateways this Route is attached to.
  parentRefs:
  - name: gateway
    sectionName: http
    # namespace: default
  # Hostnames matching HTTP header.
  hostnames:
  - chart-example.local
  # List of rules and filters applied.
  rules:
  - matches:
    - path:
        type: PathPrefix
        value: /headers
  #   filters:
  #   - type: RequestHeaderModifier
  #     requestHeaderModifier:
  #       set:
  #       - name: My-Overwrite-Header
  #         value: this-is-the-only-value
  #       remove:
  #       - User-Agent
  # - matches:
  #   - path:
  #       type: PathPrefix
  #       value: /echo
  #     headers:
  #     - name: version
  #       value: v2

nodeSelector: {}
tolerations: []
affinity: {}
